<h1>About OutOfStock</h1>
<hr>
<h4>Make your Groccery Trips More Effective, Informed and Safe!</h4>
<hr>

<div class="about">
<h2 class="about_header">Reviews</h2>
<p class="about_text">"OutOfStock is a lifesaver! I can now go to the grocery store less know I'm doing my part for the
community!"
- Fran, 2020
<br/>
<br/>
"I FINALLY FOUND TOILET PAPER!"
- Tom, 2020</p>
</div>

<h2>What is OutOfStock?</h2>
<p>OutOfStock is a FREE web service that uses data provided by users to keep track of products that may be out of stock at your local Seattle grocery stores. It allows you to log in save and edit their account securely. 
Once logged in you can see all grocery stores and their distances from your address as well as what products may be missing. You can also keep track of your grocery visits and help notify others in the area about missing products.
Additionally, you can notify others when you get sick!<br/></p>
<div class="about">
<p class="about_text">
<br/>
"Wow the CSS is really horrible on this site ... 2/10"
- Gary, 2020</p>
</div>
<h2>Mission/ History </h2>
<p> OutOfStock was originally created in May, 2020 by Sara Khandaker, a Seattle-based software developer. Our mission here at OutOfStock is to keep people safe and informed during these difficult times. We have a strong commitment to the community and work closely with our users and stores to provide the best services.</p>

<h4>Its easy to use so try it yourself!</h4>
<div>
<img class="banner" alt= "Fruit Banner" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Normandy_banner.jpg/798px-Normandy_banner.jpg">
<img class="banner" alt= "Fruit Banner" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Normandy_banner.jpg/798px-Normandy_banner.jpg">
<img class="banner" alt= "Fruit Banner" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Normandy_banner.jpg/798px-Normandy_banner.jpg">
</div>