<p>6. Users can see which stores have the most visits and least<br/>
7. See number of incidents at each store<br/>
8. See data on least and most avaliable products<br/>
9. Best day of the week to do groceries (least visits)<br/>
10. How many people get sick per day<br/></p>